﻿@using Coolcrab_MVC.Models
@model LoginViewModel


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal login-form", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Hasło" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    <button type="submit" class="btn btn-default">Zaloguj</button>
    <span class="forgot-pass">Nie pamiętasz hasła?</span>
}