﻿@model Coolcrab_MVC.Models.RegisterViewModel

<!-- Latest compiled and minified CSS -->
<!-- Modal -->
<div id="signUpModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stwórz nowe konto</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control", @placeholder = "Nazwa użytkownika" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Hasło" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Powtórz hasło" })

                    <input type="submit" class="btn btn-default" value="Zarejestruj" />
                }
            </div>
            <div style="padding-top: 0;" class="modal-footer">
                <div class="frame"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>
