﻿@model Coolcrab_MVC.Controllers.FinishedContentModel

@{

    Layout = null;
}

@foreach (var finishedTask in Model.finishedTasks)
{
    Model.task = Model.tasks.First(i => i.Id == finishedTask.TaskId);

    <div id="task_@Model.task.Id" class="task" draggable="true" ondragstart="drag(event)" priority="@Model.task.Priority" hardlevel="@Model.task.HardLevel" taskType="@Model.task.Type" datetime="">
        <a href="#" class="task-info" data-html="true" data-toggle="tooltip" data-placement="left"
        title='<div class="task-details"><span class="span-time">@finishedTask.Deadline</span><span class="span-priority">Priorytet: @Model.content.Priority(Model.task.Priority)</span><span class="span-hardlevel">Poziom: @Model.content.Hardlevel(Model.task.HardLevel)</span><span class="span-type">Typ: @Model.content.Type(Model.task.Type)</span><p>@Model.task.Description</p></div>'><span class="glyphicon glyphicon-info-sign"></span></a>
        <div class="task-short-desc">@Model.task.ShortDescription</div>


        <div class="task-edit"><span class="glyphicon glyphicon-wrench"></span></div>

        <div class="task-remove"><span class="glyphicon glyphicon-remove"></span></div>
    </div>

}
