﻿@model Coolcrab_MVC.Controllers.ContentModel

@{
    DateTime date;
    Layout = null;
}

@foreach (var task in Model.tasks)
{
    date = Model.dates.First(i => i.TaskId == task.Id).Deadline;

    <div id="task_@task.Id" class="task" draggable="true" ondragstart="drag(event)" priority="@task.Priority" hardlevel="@task.HardLevel" taskType="@task.Type" datetime="@date">
        <a href="#" class="task-info" data-html="true" data-toggle="tooltip" data-placement="left"
           title='<div class="task-details"><span class="span-time">@date.ToString("dd/MM/yyyy hh:mm:00")</span><span class="span-priority">Priorytet: @Model.content.Priority(task.Priority)</span><span class="span-hardlevel">Poziom: @Model.content.Hardlevel(task.HardLevel)</span><span class="span-type">Typ: @Model.content.Type(task.Type)</span><p>@task.Description</p></div>'><span class="glyphicon glyphicon-info-sign"></span></a>
        <div class="task-short-desc">@task.ShortDescription</div>


        <div class="task-edit"><span class="glyphicon glyphicon-wrench"></span></div>

        <div class="task-remove"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
}

