﻿@if (Request.IsAuthenticated)
            {
    @section navMenu {
        <li><a href="/MyDay">Mój dzień</a></li>
        <li><a href="/MyTasks">Zadania</a></li>
    }
}

<img src="~/img/coolcrab.png" alt="" style="margin-left: auto; margin-right: auto; padding-right: 30px; display: block; margin-top: 5%; width: auto; height: 40vh;" />
<h1 style="color: white; text-align: center; margin-top: 30px;">Dlaczego warto posiadać swój własny rejestr zadań?</h1>
<!-- Modal -->
<div id="contactModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kontakt</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>
