﻿@model Coolcrab_MVC.Controllers.ContentModel

@section head {
    <link rel="stylesheet" href="~/css/addTask.css">

    <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script type="text/javascript" src="~/datepicker/moment-with-locales.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="~/datepicker/bootstrap-datetimepicker.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="~/datepicker/bootstrap-datetimepicker.min.css" />
}

@section navMenu {
    <li class="active"><a href="/MyDay">Mój dzień</a></li>
    <li><a href="/MyTasks">Zadania</a></li>
}

@section scripts {
    @Scripts.Render("~/js/addTask.js")
    @Scripts.Render("~/js/tasks.js")
}

<div class="container">
    <div class="inner-container">
        <div class="unfinished-tasks">

            <div id="filterMenu" class="filter-menu filter-menu-visible">
                <div class="checkbox-group">
                    <label><input type="checkbox" value="lowPriority">Niski priorytet</label>
                    <label><input type="checkbox" value="normalPriority">Średni priorytet</label>
                    <label><input type="checkbox" value="highPriority">Wysoki priorytet</label>
                </div>

                <div class="checkbox-group">
                    <label><input type="checkbox" value="easyLevel">Poziom łatwy</label>
                    <label><input type="checkbox" value="normalLevel">Poziom średni</label>
                    <label><input type="checkbox" value="hardLevel">Poziom trudny</label>
                </div>

                <div class="checkbox-group">
                    <label><input type="checkbox" value="common">Pojedyncze</label>
                    <label><input type="checkbox" value="daily">Dzienne</label>
                    <label><input type="checkbox" value="weekly">Tygodniowe</label>
                </div>

                <div class="checkbox-group">
                    <label><input type="checkbox" value="nextDay">Na jutro</label>
                    <label><input type="checkbox" value="nextWeek">Następne 7 dni</label>
                    <button type="button" class="btn btn-default btn-xs">Resetuj</button>
                </div>
            </div>

            <div class="group-header">
                <h3>Zadania [10]</h3>

                <div class="dropdown sort-tasks">
                    <span class="glyphicon glyphicon-collapse-down dropdown-toggle" data-toggle="dropdown"></span>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">Sortuj</li>
                        <li><a href="#">Czas malejąco</a></li>
                        <li><a href="#">Czas rosnąco</a></li>
                        <li><a href="#">Priorytet malejąco</a></li>
                        <li><a href="#">Priorytet rosnąco</a></li>
                    </ul>
                </div>

                <span class="filter-tasks glyphicon glyphicon-filter" id="filter-tasks" data-toggle="tooltip" data-placement="top" title="Filtruj zadania"></span>

                <a href="#" data-toggle="modal" data-target="#addTaskModal"><span class="add-task glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="left" title="Dodaj zadanie"></span></a>

            </div>

            <div id="tasks" class="tasks-group disable-select" ondrop="drop(event)" ondragover="allowDrop(event)">
                @Html.Partial("../Tasks/GetTasks", Model)
            </div>
        </div>

        <div class="finished-tasks">

            <div class="filter-menu"></div>

            <div class="group-header">
                <h3>Ukończone [5]</h3>
            </div>


            <div id="finished-tasks" class="tasks-group disable-select" ondrop="drop(event)" ondragover="allowDrop(event)">

            </div>
        </div>

    </div>

    <progress class="day-progress" id="progressbar" value="40" max="100"></progress>
</div>

<!-- Modal -->
<div id="addTaskModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nowe zadanie</h4>
            </div>
            <div class="modal-body">
                <div class="new-task-form">
                    @Html.AntiForgeryToken()
                    <div class="left-container">
                        <textarea placeholder="Opis ogólny zadania" id="shortDescription"></textarea>

                        <div class="new-task-priority radio-group">
                            <span>Priorytet</span>
                            <label><input type="radio" name="priority" value="1">Niski</label>
                            <label><input type="radio" name="priority" value="2" checked="checked">Średni</label>
                            <label><input type="radio" name="priority" value="3">Wysoki</label>
                        </div>

                        <div class="new-task-hardlevel radio-group">
                            <span>Poziom</span>
                            <label><input type="radio" name="hardlevel" value="1">Łatwy</label>
                            <label><input type="radio" name="hardlevel" value="2" checked="checked">Średni</label>
                            <label><input type="radio" name="hardlevel" value="3">Trudny</label>
                        </div>
                    </div>

                    <div class="right-container">
                        <textarea placeholder="Opis szczegółowy zadania" id="description"></textarea>

                        <div class="new-task-type radio-group">
                            <span>Typ</span>

                            <label id="radioCommon"><input type="radio" name="type" value="common" checked="checked">Zwykłe</label>

                            <label id="radioDaily"><input type="radio" name="type" value="daily">Dzienne</label>
                            <label id="radioWeekly"><input type="radio" name="type" value="weekly">Tygodniowe</label>
                        </div>


                        <div id="pickDate">
                            <div class='input-group date' id='datePicker'>
                                <input type='datetime' class="form-control" placeholder="Termin wykonania" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datePicker').datetimepicker({
                                        locale: 'pl'
                                    });
                                });
                            </script>
                        </div>

                        <div class="pick-date" style="display: none;" id="pickCyclicDate">
                            <div class='input-group date' id='dailyPicker'>
                                <input type='text' class="form-control" placeholder="Godzina" value="23:59" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>

                            <script type="text/javascript">
                                $(function () {
                                    $('#dailyPicker').datetimepicker({
                                        format: 'LT',
                                        locale: 'pl'
                                    });
                                });
                            </script>

                            <div style="display: none;" id="weeklyPicker">

                                <select class="day-picker form-control">
                                    <option>Poniedziałek</option>
                                    <option>Wtorek</option>
                                    <option>Środa</option>
                                    <option>Czwartek</option>
                                    <option>Piątek</option>
                                    <option>Sobota</option>
                                    <option>Niedziela</option>
                                </select>

                                <input type='text' class="time-picker form-control" id='weeklyTimePicker' value="23:59" />

                                <script type="text/javascript">
                                    $(function () {
                                        $('#weeklyTimePicker').datetimepicker({
                                            format: 'LT',
                                            locale: 'pl',
                                        });
                                    });
                                </script>
                            </div>

                            <span class="small btn btn-default glyphicon glyphicon-plus"></span>
                            <span class="small btn btn-default glyphicon glyphicon-minus"></span>
                            <span class="small btn btn-default glyphicon glyphicon-erase"></span>

                            <select multiple class="dates-list form-control" id="sel2">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>

                    <input class="btn btn-default" type="submit" value="Dodaj zadanie" onclick="createNewTask();" data-dismiss="modal" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
            </div>
        </div>

    </div>
</div>
