﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zorganizuj swój dzień z CoolCrab | Rejestr zadań </title>

    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">


    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/animation.css">
    <link rel="stylesheet" href="~/css/navigation.css">

    @if (IsSectionDefined("head"))
    {
        @RenderSection("head")
    }
    else
    {
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    }
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">CoolCrab</a>
                </div>
                <ul class="nav navbar-nav">
                    @RenderSection("navMenu")
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-logged-in">
                    <li class="clock">12:32</li>

                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Brak powiadomień</li>
                        </ul>
                    </li>

                    <li>
                        <a class="dropdown-toggle disable-select" data-toggle="dropdown">
                            <span class="user-arrow glyphicon glyphicon-triangle-bottom"></span>
                            @{
                                var UserManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
                                var user = UserManager.FindById(User.Identity.GetUserId());
                                <span class="nickname">@user.Nickname</span>
                            }
                        </a>


                        <ul class="dropdown-menu">
                            <li><a href="#">Mój profil</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">Kontakt</a></li>
                            <li role="presentation" class="divider"></li>

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                            }

                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
                                }
                                else
                                {
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="/">CoolCrab</a>
                                    </div>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a>

                                            <ul class="dropdown-menu">
                                                <li class="dropdown-header">
                                                    @RenderPage("../Account/Login.cshtml")
                                                </li>
                                            </ul>
                                        </li>

                                        <li><a href="#" data-toggle="modal" data-target="#signUpModal"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
                                        <li><a href="#" data-toggle="modal" data-target="#contactModal"><span class="glyphicon glyphicon-envelope"></span> Kontakt</a></li>
                                    </ul>
                                }
        </div>
    </nav>

    @if (!Request.IsAuthenticated)
    {
        @RenderPage("../Account/Register.cshtml")
    }

    @RenderBody()

    <footer class="navbar navbar-inverse">
        <p>Projekt i wykonanie własne. Wszelkie prawa zastrzeżone. ©</p>
    </footer>

    @Scripts.Render("~/bundles/jqueryval")
    @if (!IsSectionDefined("head"))
    {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    }
   @Scripts.Render("~/js/main.js")
    @RenderSection("scripts", required: false)
</body>
</html>