.new-task-form {
    font-size: 14px;
}

.new-task-form .btn[type="submit"] {
    width: 100%;
    height: 40px;
}

.left-container {
    float: left;
    width: 43%;
    margin-right: 15px;
}

.right-container {
    float: left;
    width: calc(57% - 15px);
}

.new-task-form textarea {
    display: inline-block;
    resize: none;
    height: 60px;
    margin-bottom: 15px;
    padding: 5px 8px;
    color: black;
    font-size: 14px;
}

.left-container textarea {
    float: left;
    width: 100%;
}

.right-container textarea {
    float: left;
    width: 100%;
}

.right-container select {
    float: right;
    padding: 8px;
}

.right-container input:not([type="radio"]) {
    float: right;
    padding: 8px;
}

.new-task-priority, .new-task-type {
    margin-right: 15px;
    float: left;
}

.new-task-hardlevel {
    float: right;
}

.radio-group {
    border: 1px solid #000;
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
    width: 114px;
}

.radio-group span {
    display: block;
    position: absolute;
    z-index: 100;
    color: black;
    top: -11px;
    left: 6px;
    padding: 0px 3px;
    background-color: white;
}

.radio-group label:first-of-type {
    margin-top: 10px !important;
}

.radio-group label {
    display: block;
    margin-top: 15px;
    font-weight: normal;
    padding: 0;
}

[type="radio"]
{
    vertical-align: top;
}

.radio-group label input {
    margin-right: 2px;   
    padding-top: 3px;
}

.pick-date .small {
    height: 25px;
    width: 17%;
    line-height: 11px;
    margin-top: 5px;
    margin-left: 7px;
}

.pick-date .small:first-of-type {
    margin-left: 0px;
}

.dates-list {
    width: 179px !important;
    margin-top: 7px;
    height: 57px !important;
}

.day-picker, .time-picker {
    float: left !important;
}

.day-picker {
    padding: 5px !important;
    width: 120px !important;
}

.time-picker {
    width: 54px !important;
    margin-left: 5px !important;
}
