.frame {
    
  margin-left: auto;
    margin-right: auto;
  width: 170px;
  height: 170px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/79/glitch-crab.png) no-repeat left top;
  
  /* framerate: 30ms */        
  animation: column-animation 180ms steps(6) infinite,
             /* 6 columns x 30ms framerate = 180ms */
             
             row-animation 720ms steps(4) infinite;
             /* 6 columns x 4 rows x 30ms framerate = 720ms */
}

/* 6 columns x 170px = 1020px offset */
@keyframes column-animation {
  100% { background-position-x: -1020px; } 
}

/* 4 rows x 170px = 680px offset */
@keyframes row-animation {
  /* actually, had to cheat here. Probably the image was cropped */
  100% { background-position-y: -670px; }
}