body {
    background-color: #333333 !important;
}

footer {
    color: white;
    text-align: center;
    position: absolute !important;
    width: 100%;
    bottom: 0;
    margin: 0 !important;
}

footer p {
    line-height: 48px;
    padding: 0;
    margin: 0;
}

.clock {
    color: #9d9d9d;
    font-size: 22px;
    margin-top: 10px;
    padding: 0px 15px;
}

.nickname {
    float: left;
    font-size: 18px !important;    
    margin-right: 6px;
    margin-top: 4px;
}

.user-arrow {
    font-size: 18px !important;   
    margin-top: 5px;
    padding-bottom: 3px;
}

form input {
        margin-bottom: 15px;
}

.login-form {
    width: 150px;
    padding: 8px 0;
    padding-bottom: 2px;
}

.login-form input  {
    height: 28px;
    margin: 0;
}

.login-form input:nth-last-of-type(1)  {
    margin-top: 15px;
}

.login-form button {
    margin-top: 15px;
    display: block;
}


.login-form li, .login-form span {
    white-space: pre-wrap;    
    display: block;
    margin-top: 8px;
}

.login-form .forgot-pass {
    font-size: 12px;
    display: block;
    margin: 0;
    margin-top: 12px;
}

.login-form .forgot-pass:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.navbar {
    margin-bottom: 0 !important;
}
.navbar-nav li a {
    font-weight: 700;
}

.navbar-nav li a:hover {
    cursor: pointer;
}

.navbar-nav .active {
    text-decoration: underline;
}

.navbar-logged-in a {
    font-size: 24px;
    padding: 12px 15px !important;
}

.divider {
    margin: 6px 0px !important;

}

.navbar .dropdown-menu a {
    font-size: 14px;
    padding: 5px 15px !important;
    color: #fff !important;
}


.navbar .dropdown-menu {
    min-width: 100px !important;
    background-color: #080808 !important;
    margin-right: -1px;
    border-top-left-radius: 4px !important;
}

.navbar .dropdown-menu a:hover {
    background-color: #333 !important;
}

.group-header .dropdown-menu {
    margin-top: 18px;
    background-color: #a8a8a8;
}

.group-header .dropdown-menu a:hover {
    background-color: #ffffff;
}

.group-header .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 7px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #a8a8a8;
    border-left: 6px solid transparent;
    content: '';
}

.unfinished-tasks, .finished-tasks {
    color: white;
    margin-bottom: 20px;
}


.unfinished-tasks {
    margin-right: 40px;
    width: 634px;
}

.finished-tasks {
    width: 330px;
}

.tasks-group {
    height: 50vh;
    background-color: #222222;
    border-radius: 5px;
    overflow-y: auto;
    padding-bottom: 15px;
}

.container {
    margin-left: auto !important;
    margin-right: auto !important;
    height: calc(100vh - 100px);
}

.inner-container {
    display: flex;
    height: 100%;
    align-items: center; /* PION */
    justify-content: center; /* POZIOM */
}

.task {
    border: 1px solid yellow;
    border-radius: 5px;
    padding-top: 3px;
    float: left;
    font-size: 12px;
    margin: 15px 0 0 30px;
    background-color: #080808;
    width: 270px;
    height: 70px;
}

.task-short-desc {
    float: left;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: calc(100% - 50px);
}

.task-info {
    float: left;
    margin-left: 7px;
    margin-top: 5px;
    color: #1d5893;
}

.task-edit {
    float: right;
    margin-top: 5px;
    margin-right: 7px;
    color: #797979;
}

.task-remove, .task-finished {
    float: right;
    margin-top: 20px;
}

.task-remove {
    color: #db0000;
    margin-right: 8px;
}

.task-remove:hover, .task-edit:hover {
    cursor: pointer;
}

.task-info:hover {
    cursor: default;
}


.task-finished {
    color: green;
    margin-right: 7px;
}


.day-progress {
    display: block;
    height: 40px !important;
    margin-left: auto;
    margin-right: auto;
    width: 1006px;
    border-radius: 6px;
    border: none;
}

.day-progress::-progress-value {
    background: green;
}

.day-progress::-webkit-progress-value {
    border-radius: 6px;
    background: green;

}
.day-progress::-moz-progress-value {
    border-radius: 6px;
}

.day-progress::-webkit-progress-bar {
    border-radius: 6px;
}

.day-progress::-moz-progress-bar {
    border-radius: 6px;
    background: green;
}

.group-header {
    display: inline-block;
    width: 100%;
    color: #b9b9b9;
    padding: 0px 1px;
}

.group-header h3 {
    width: 275px;
    float: left;
    margin-bottom: 3px;
    font-weight: 700;
    margin-top: 15px;
}

.sort-tasks {
    display: block;
    float: right;
    font-size: 26px;
    margin-top: 13px;
    margin-left: 25px;
    height: 26px;
}

.add-task, .filter-tasks {
    display: block;
    float: right;
    font-size: 26px;
    margin-top: 15px;
    margin-left: 25px;
    color: #b9b9b9;
}

.group-header .sort-tasks span {
    margin: 0;
    padding: 0;
}

.task-details {
    font-size: 12px;
    padding: 5px;
    overflow-y: inherit !important;
}

.task-details span {
    color: #377abc;
}

.task-details .span-priority {
    float: left;
}

.task-details .span-time {
    float: left;
    color: #a909b5;
}

.task-details .span-hardlevel {
    float: left;
    width: 100%;
    text-align: left;
}

.task-details .span-type {
    float: left;
    width: 100%;
    text-align: left;
}

.task-details p {
    clear: both;
    padding-top: 10px;
}

.task .tooltip {
    opacity: 1 !important;
}

.task .tooltip p {
    text-align: left !important;
}


.sort-tasks:hover, .add-task:hover, .filter-tasks:hover {
    cursor: pointer;
    color: #fff;
}

.tasks-group::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.tasks-group::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.tasks-group::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.filter-menu {
    height: 110px; 
    padding: 15px 30px;
    border-radius: 5px;
    margin: 0 !important;
    display: none;
}

.filter-menu-visible {
    width: 634px; 
    background-color: #222222;
}

.filter-menu .btn {
    width: 114px;
    background-color: #b9b9b9;
    font-weight: bold;
}

.checkbox-group {
    float: left;
    margin-left: 46px;
}

.checkbox-group:first-child {
    margin-left: 0 !important;
}

.checkbox-group label {
    display: block;
    margin-bottom: 10px !important;
    font-weight: normal;
}

[type="checkbox"]
{
    vertical-align: top;
}

.checkbox-group label input {
    margin-right: 5px;   
    padding-top: 3px;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}